{% extends 'base.html.twig' %}

{% block title %}Talentify{% endblock %}

{% block body %}
<div class="wrapper">
    <h3>Vaga cadastrada com sucesso!</h3>
    <hr>
    <p>Clique <a href="new">Aqui</a> para voltar.</p>
</div>
{% endblock %}
